[submodule "podvm-payload/kata-containers"]
	path = podvm-payload/kata-containers
	url = https://github.com/kata-containers/kata-containers
	branch = main
[submodule "podvm-payload/guest-components"]
	path = podvm-payload/guest-components
	url = https://github.com/confidential-containers/guest-components
	branch = main
